{% extends 'base.html.twig' %}
{% block main %}
{% include 'users/usrsnav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12 box-text-aligns">
                {% for msg in app.session.flashBag.get('info') %}
                    <div id="alertMsg" class="alert alert-success" role="alert">
                       <b>{{ msg }}}</b>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

