{% extends 'base.html.twig' %}
{% block main %}
{% include 'users/usrsnav.html.twig' %}
    <div id="body">
        <div class="container">
            <div class="products-wrap">
                <div id="content">
                    <section class="products">

                    </section>
                </div>
                <!-- / content -->
            </div>
        </div>
        <!-- / container -->
    </div>
    <!-- / body -->
{% endblock %}

