{% extends 'base.html.twig' %}
{% block main %}
    {% include 'users/usrsnav.html.twig' %}
    <div id="breadcrumbs">
        <div class="container">
            <h2>Add category</h2>
        </div>
        <!-- / container -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><br><br>
                {% if errors|length >0 %}
                    {% for error in errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form class="form-horizontal" name="editMetalsProcess" method="post">
                    <div class="form-group">
                        <label for="email">Title</label>
                        <input type="text" name="metals[title]" value="{{ metal.title }}" class="form-control capt"/>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <button type="submit" class="btn-grey">Edit metal</button>
                        <a href="{{ path('all_metals') }}" class="btn btn-primary btn-sm">Back</a>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}




